.navbar-toggle {
  float: left;
  margin-left: 15px;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
    
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
}

.topnavbar {
  border-bottom: 1px solid #e7e7e7; 
  background-color: #f8f8f8; 
  z-index: 1031;
  height: 50px;
}

.topnavbar-right {
  position: absolute;
  right: 0;
  z-index: 1031;
  margin-right: 15px
}

.topnavbar-right > ul li {
  float: left!important;
  display: inline;
}

p.topnavbar-text {
  margin: 15px;
}

.adminbox-description {
  color: #999999;
}